<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45572225-1', 'smartfingergloves.com');
  ga('send', 'pageview');
</script>


<span ng-show="shoppingcart.length === 0">You're cart is empty. Time to go buy some <a href="#/gloves">gloves</a>!</span>
<div ng-show="shoppingcart.length > 0"> 
	<h4>Review Order Details<h4>
	</br>
	<span>You have <b><a href="#/shoppingcart">{{shoppingcart.length}} item(s)</a></b> in your <a href="#/shoppingcart">shopping cart</a></span>

	<table class="table table-striped" style="width: 400px;">
	  <thead>
	  	<tr>
		  	<th>Item</th>   
		  	<th>Price</th>
		  </tr>	
	  </thead>
	  <tbody>
	  	<tr class="phones" ng-repeat="item in shoppingcart track by $index">
		  	<td><a href="#/gloves/{{item.id}}" class="thumb-cart"><img ng-src="{{item.imageUrl}}"></a><a href="#/gloves/{{item.id}}">{{item.name}}</a></td>   
		  	<td>${{item.price}}</td>
		  	<td>
		  </tr>
		  <tr>
		  	<td><b>Total</b></td>
		  	<td><b>${{shoppingcart.total}}</b></td>
		  <tr>	
	  </tbody> 
	</table>
	</br>
	<div style="float: left;">
		<!-- <img style="width:250px;" src="img/checkout_fields.png" alt="checkout"/> -->
	</div>
<!-- 	<h4>Where should we ship to?</h4>
		<br>
		<form role="form" class="payment-form">
		  <div class="form-group">
		    <label>Street Address<em> *</em></label>			
	      <input type="text" placeholder="Street" class="form-control">
	    </div>
		  <div class="form-group">
		    <label>City<em> *</em></label>			
	      <input type="text" placeholder="City" maxlength="16" class="form-control">
	    </div>
		  <div class="form-group">
		    <label>State<em> *</em></label>	
	      <input type="text" placeholder="State" class="form-control" maxlength="3">
	    </div>
		  <div class="form-group">
		    <label>Zipcode<em> *</em></label>	
	      <input type="text" placeholder="Zipcode" class="form-control" maxlength="3">
	    </div>
		</form>
		<h4>How would you like to pay?</h4>
		<br>
		<form role="form" class="payment-form">
		  <div class="form-group">
		    <label>Name on Card<em> *</em></label>			
	      <input type="text" placeholder="Name on Card" class="form-control">
	    </div>
		  <div class="form-group">
		    <label>Card Number<em> *</em></label>			
	      <input type="text" placeholder="Card Number" maxlength="16" class="form-control" data-ng-model="creditCardNumber">
	    </div>
		  <div class="form-group">
		    <label>CVV<em> *</em></label>	
	      <input type="text" placeholder="123" class="form-control" maxlength="3">
	    </div>
		  <div class="form-group">
		    <label>Expiration Date<em> *</em></label>	
		    <input type="text" placeholder="MM/YYYY" class="form-control" maxlength="7">
			    <div>
			      <img class="icon_signup_creditcard_visa" style="opacity:{{ creditCardOpacities.visaCardOpacity }}" src="img/creditcards/icon_signup_creditcard_visa.png" alt="icon_signup_creditcard_visa">

			      <img class="icon_signup_creditcard_mastercard" style="opacity:{{ creditCardOpacities.mastercardCardOpacity }}" src="img/creditcards/icon_signup_creditcard_mastercard.png" alt="icon_signup_creditcard_mastercard">

			      <img class="icon_signup_creditcard_amex" style="opacity:{{ creditCardOpacities.amexCardOpacity }}" src="img/creditcards/icon_signup_creditcard_amex.png" alt="icon_signup_creditcard_amex">

			      <img class="icon_signup_creditcard_discover" style="opacity:{{ creditCardOpacities.discoverCardOpacity }}" src="img/creditcards/icon_signup_creditcard_discover.png" alt="icon_signup_creditcard_discover">
			    </div>
			</div> -->
		<div style="float: left;">
			<button type="submit" class="btn btn-success" ng-click="submitOrder()">Submit Order</button>
		</div>
		</form>        
	</br>
</div>
