<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45572225-1', 'smartfingergloves.com');
  ga('send', 'pageview');

</script>

<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in glove.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{glove.name}}</h1>
<button class="btn btn-primary" data-ng-click="addToCart(glove)">Buy</button>

<p>{{glove.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in glove.images">
    <img ng-src="{{img}}" ng-mouseenter="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Fine Materials</span>
    <dl>
      <dt>Materials</dt>
      <dd ng-repeat="material in glove.materials">{{material}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in glove.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{glove.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
</ul>
