<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45572225-1', 'smartfingergloves.com');
  ga('send', 'pageview');

</script>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query" class="search-form">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>        
    <div class="span10">
      <!--Body content-->

<!--       <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <!-- <p>{{phone.snippet}}</p> -->
          <!-- <button class="btn btn-primary" data-ng-click="addToCart(phone)">Buy</button> -->
<!--         </li>
      </ul>  -->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <!-- <p>{{phone.snippet}}</p> -->
          <button class="btn btn-primary" data-ng-click="addToCart(phone)">Buy</button>
        </li>
      </ul>      

    </div>
  </div>
</div>
