<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45572225-1', 'smartfingergloves.com');
  ga('send', 'pageview');
</script>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='78854331-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
<body>

  <div class="row" style="margin:10px;">
    <h4>Total ${{shoppingcart.total}}</h4>
    <span ng-show="shoppingcart.length > 0">You have {{shoppingcart.length}} item(s) in your cart</span>
    <span ng-show="shoppingcart.length === 0">You're cart is empty. Time to go buy some <a href="#/gloves">gloves</a>!</span>
    <a class="btn btn-warning pull-right" href="#/checkout" ><i class="glyphicon glyphicon-credit-card"></i> Checkout</a>
  </div>

  <table class="table table-striped">
    <thead>
    	<tr>
  	  	<th>Item</th>   
  	  	<th>Price</th>
  	  	<th></th>
  	  </tr>	
    </thead>
    <tbody class="phones" ng-repeat="item in shoppingcart track by $index">
    	<tr>
  	  	<td><a href="#/gloves/{{item.id}}" class="thumb-cart"><img ng-src="{{item.imageUrl}}"></a><a href="#/gloves/{{item.id}}">{{item.name}}</a></td>   
  	  	<td>${{item.price}}</td>
  	  	<td><button class="btn btn-danger" data-ng-click="removeFromCart(item)">Remove</button></td>
  	  </tr>	
    </tbody> 
  </table>
</body>

