<p>You have {{shoppingcart.length}} item(s) in your cart</p>

<table class="table table-striped">
  <thead>
  	<tr>
	  	<th>Item</th>   
	  	<th>Price</th>
	  	<th></th>
	  </tr>	
  </thead>
  <tbody class="phones" ng-repeat="item in shoppingcart track by $index">
  	<tr>
	  	<td><a href="#/phones/{{item.id}}" class="thumb-cart"><img ng-src="{{item.imageUrl}}"></a><a href="#/phones/{{item.id}}">{{item.name}}</a></td>   
	  	<td>Price</td>
	  	<td><button class="btn btn-danger" data-ng-click="removeFromCart(item)">Remove</button></td>
	  </tr>	
  </tbody> 
</table>


